.header {
    padding: 20px;
    text-align: center;
    background-color: #252632;
    border-bottom: 1px solid #4A4B58;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.header p {
    margin: 8px 0 0;
    color: #AAAAAA;
}