.image-canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-canvas {
    display: block;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}